<div class="h-screen w-full flex flex-col">
  <div class="content w-full grid h-full" style="grid-template-columns: auto 1fr;">
    <div class="h-full pt-4 px-6">
      <app-logo></app-logo>
      <app-navbar></app-navbar>
    </div>
    <div class="pb-4 pl-2 pt-2 pr-6 overflow-x-hidden">
      <div class="w-full mt-3 pr-2 " style="height: 53px;">
        <app-bot-status-indicator class="self-end h-full" style="text-align: right;"></app-bot-status-indicator>
      </div>
      <div class="bg-white rounded-lg shadow-md hover:shadow-xl pr-4 pl-4 pb-4 pt-2 my-4">
        <h3 class="font-bold text-lg px-2 mb-1.5 pt-3">Todays Events:</h3>
        <app-line-graph [graphValues]="eventGraphValues" [lineChartType]="'bar'">
        </app-line-graph>
      </div>

      <div>
        <app-table [title]="'Registered Pipelines:'" [data]="pipelineTableConfiguration">
        </app-table>
      </div>
    </div>
  </div>


  <!-- <div class="w-full">
    <div class="statusBarContainer w-full px-2 grid grid-cols-2" style="background-color: gray; height: 65px; ">
      <app-logo></app-logo>
      <app-bot-status-indicator class="self-end h-full" style="text-align: right;"></app-bot-status-indicator>
    </div>
  </div>
  <div class="content w-full grid h-full" style="grid-template-columns: auto 1fr;">
    <div class="navbar h-full">
      <app-navbar></app-navbar>
    </div>
    <div class="dashboard h-full p-4 " style="background-color: rgb(190, 190, 190);">
      <app-table [data]="pipelineTableConfiguration">
      </app-table>
    </div>
  </div> -->
</div>
