@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background-color-dark: #006E90;
  --background-color-darker: #4B7F95;
  --secondary-button-color: #41BBD9;
  --primary-button-color: #b6e957;
  --highligh-color: #F18F01;
  --hover-background-color-brightness-filter: brightness(110%);
}

body {
  background-color: #f3f3f7;
}

.background {
  background-color: var(--background-color-dark);
  color: white;
}

.higher-background {
  background-color: var(--background-color-darker);
  color: white;
}

.highlight {
  background-color: var(--highligh-color);
}
