<div class="dropdown" (mouseleave)="hideContent()">
  <div class="dropbtn" (click)="showContent()">
    <ng-content></ng-content>
  </div>
  <div class="dropdown-content" [ngClass]="{'show-dropdown-content': showOptions}" (mouseleave)="hideContent()"
       (mouseenter)="allowMouseLeaveToCloseContent()" [ngStyle]="{'right':leftOfButton?'0px': 'unset', 'bottom':topOfButton?'42px': 'unset', 'max-height': '400px',
    'overflow': 'auto'}">
    <div *ngFor="let entry of entries" class="p-2" (click)="selected(entry)">{{entry.label}}</div>
  </div>
</div>
