<div class="" style="width: fit-content;">
  <a href="#" class="flex items-center text-gray-700 hover:text-gray-900" style="font-size: 1.6em;">
    <svg class="mr-1 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         style="width: 1.75em; height: 1.75em" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
    </svg>
    <span class="font-bold">YAB<span class="text-red-500">.</span></span>
  </a>
</div>
