<div class="custom-table-wrapper" (mousemove)="generalResizeHandlerMouseMove($event)"
  (mouseup)="generalResizeHandlerResetHandler()">
  <div class="bg-white rounded-lg shadow-md hover:shadow-xl pr-4 pl-4 pb-4 pt-2">
    <h3 class="font-bold text-lg px-2 mb-1.5 pt-3">{{title}}</h3>
    <div class="custom-table-block-scrollable overflow-auto  p-2">

      <table class="w-full">

        <thead class="custom-table-header ">
          <tr>
            <th *ngFor="let column of data.columns; let index=index"
              class="custom-table-column-header border-b text-left p-0 ">
              <div class="column-header-wrapper grid pr-0  border-b border-r-0 border-l-0"
                style="border-left-width: 0px !important;">
                <p class="flex cursor-pointer" (mousedown)="toggleSorting($event, column)">
                  <span [ngStyle]="{'width': (column.widthInPixels - 15) + 'px'}"
                    class="py-1 pl-2 overflow-hidden overflow-ellipsis whitespace-nowrap">{{column.title}}</span>

                  <svg *ngIf="column.sort === 'asc'" xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 self-center"
                    fill="none" viewBox="0 0 24 24" stroke="#444444">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M16 17l-4 4m0 0l-4-4m4 4V3" />
                  </svg>

                  <svg *ngIf="column.sort === 'desc'" xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 self-center"
                    fill="none" viewBox="0 0 24 24" stroke="#444444">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M8 7l4-4m0 0l4 4m-4-4v18" />
                  </svg>

                </p>
                <span class="resize-handler border-r " (mousedown)="resizeHandlerClickHandler($event, true, column)"
                  (mouseup)="resizeHandlerClickHandler($event, false, column)"></span>
              </div>
            </th>
          </tr>
        </thead>

        <tbody class="custom-table-body">
          <tr *ngFor="let row of data.dataItems;let lastRow = last" class="custom-table-row"
            [ngClass]="{'border-b': !lastRow}">
            <td *ngFor="let column of data.columns; let index=index; let lastColumn = last"
              class="pl-2 py-1  border-t-0 border-l-0" [ngClass]="{'border-r': !lastColumn}">
              <div [ngStyle]="{'width': (column.widthInPixels - 6) + 'px'}">
                <ng-container [ngTemplateOutlet]="columnContent"
                  [ngTemplateOutletContext]="{dataItem:row, column:column}">
                </ng-container>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<ng-template #columnContent let-dataItem='dataItem' let-column='column'>
  <!-- normal column with text -->
  <div *ngIf="column.columnType === 'normal'">
    <div *ngIf="column.singleLineRow" class="custom-table-column text-left break-words"
      [ngStyle]="{'width': (column.widthInPixels - 6) + 'px'}">
      {{dataItem[column.selector]}}
    </div>
    <div *ngIf="!column.singleLineRow" class="custom-table-column text-left overflow-hidden overflow-ellipsis"
      [ngStyle]="{'width': (column.widthInPixels - 6) + 'px'}">
      {{dataItem[column.selector]}}
    </div>
  </div>

  <!-- booleanToogleColumn: column with toggle switches which are editable -->
  <div *ngIf="column.columnType === 'booleanToogleColumn'">

    <div class="custom-table-column text-left overflow-hidden overflow-ellipsis"
      [ngStyle]="{'width': (column.widthInPixels - 6) + 'px'}">
      <app-toggle-switch [value]="dataItem[column.selector]"
        (valueChanged)="booleanToogleColumnValueChanged(dataItem, column, $event)">

      </app-toggle-switch>
    </div>
  </div>
</ng-template>
